@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Changa');

body {
  background-color: #0000cc;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

main {
  display: flex;
}

#appContainer {
  flex: 6;
}

#explorerContainer {
  flex: 4;
  background: yellow;
  border-left: 2px solid black;
  padding: 20px;
}

#explorerContainer textarea {
  font-family: monospace;
  width: 100%;
  height: 600px;
  font-size: 16px;
}

.bet-amount {
  color: white;
  font-family: 'Press Start 2P';
  font-size: 2vw;
  flex: 1;
  margin: 0 auto;
}

.bet-col {
  border-right: 3px yellow solid;
  color: yellow;
  flex: 1;
  font-size: 1.3vw;
  padding-right: 0.5vw;
  text-align: right;
}

.active-col {
  background-color: red;
}

.bet-five-col {
  color: yellow;
  flex: 1.5;
  font-size: 1.3vw;
  padding-right: 0.5vw;
  text-align: right;
}

.button-container {
  display: flex;
  margin: 0 auto;
  width: 60vw;
}

.cards {
  display: inline-block;
  width: 10vw;
  margin: 0 auto;
  padding: 1vw;
}

col {
  width: 15vw;
}

.credit {
  color: red;
  flex: 1;
  font-family: 'Changa';
  font-size: 3vw;
  font-weight: bold;
  margin: -1.8vw auto;
  text-align: right;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

.game-button {
  background-color: white;
  border-radius: 0.5vw;
  flex: 1;
  height: 3vw;
  margin: 2vw 4vw 0vw 4vw;
  width: 1vw;
  text-transform: uppercase;
}

.help-modal {
  background-color: black;
  border: 2px yellow solid;
  border-radius: 1vw;
  color: white;
  height: 50vw;
  margin: 0 auto;
  width: 80vw;
}

.hold-labels-container {
  display: flex;
  margin: 0.2vw auto -1vw auto;
  width: 60vw;
}

.jack-img {
  border-bottom: 3px solid yellow;
  border-right: 3px solid yellow;
  border-top: 3px solid yellow;
  display: inline-block;
  flex: 2;
  margin-top: 1vw;
  max-width: 20vw;
}

.hand-name-col {
  border-right: 2px yellow solid;
  color: yellow;
  flex: 3;
  flex-direction: column;
  font-size: 1.3vw;
  margin-left: 1vw;
  text-align: left;
}

.win-amt-col {
  flex: 1;
}

.win-amt-col-5 {
  flex: 2;
}

#active-row {
  background-color: yellow;
  color: red;
}

.pay-table {
  background-color: #002266;
  border: 3px solid yellow;
  display: flex;
  flex-direction: row;
  flex: 8;
  margin-top: 1vw;
}

.pay-table-image-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
}

.modal-text {
  background-color: #0000cc;
  color: red;
  font-family: 'Changa';
  font-size: 5vw;
  font-weight: bold;
  line-height: 4vw;
  margin-top: 24vw;
  margin-left: 30.5vw;
  position: absolute;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
  text-transform: uppercase;
  width: 39vw;
  z-index: 200;
}

.feed-twenty-modal {
  background-color: white;
  border: 2px green solid;
  border-radius: 5px;
  font-size: 2vw;
  margin: 20vw 30vw 20vw 30vw;
  position: absolute;
  width: 40vw;
  z-index: 200;
}

.yesNoButton {
  background-color: yellow;
  border: 2px red solid;
  border-radius: 5px;
  color: red;
  margin: 1vw;
  padding: 1vw;
}

.five-credits {
  width: 39vw;
  margin-left: 30.5vw;
}

.table-columns {
  width: 15vw;
}

.win {
  color: red;
  flex: 1;
  font-family: 'Changa';
  font-size: 3vw;
  font-weight: bold;
  margin: -1.8vw auto;
  text-align: left;
  text-shadow: -2px 0 yellow, 0 2px yellow, 2px 0 yellow, 0 -2px yellow;
}

.winning-row {
  color: white;
}

.money-bar {
  display: flex;
  margin: -1vw auto 0 auto;
  width: 60vw;
}

.hand-container {
  display: flex;
  margin: 0 15vw 2vw 15vw;
  width: 70vw;
}

.card {
  flex: 1;
  margin: 0 auto;
}

.card .held-label {
  color: white;
  display: block;
  font-family: 'Press Start 2P';
  font-size: 1.5vw;
  margin: 1vw 0 1vw 0;
  text-align: center;
  text-transform: uppercase;
}

.held-label.hidden {
  visibility: hidden;
}

.card img {
  display: block;
  flex: 1;
  width: 12vw;
  margin: 0 auto;
}

.hold-btn {
  background: white;
  border-radius: 4px;
  display: block;
  height: 40px;
  text-align: center;
  margin: 1vw auto;
  text-transform: uppercase;
  width: 60px;
}

.hold-btn.held {
  background: yellow;
}

@media screen and (max-width: 750px) {
  .jack-img {
    max-height: 90px;
  }

  .game-button {
    font-size: 8px;
    height: 4vw;
    margin-top: 6px;
  }

  .hold-btn {
    font-size: 0.4em;
    height: 4vw;
    width: 5vw;
  }

  .footer-link {
    display: none;
  }
  .button-container {
    margin-top: 15px;
  }
}

@media screen and (max-width: 568px) {
  .game-button {
    font-size: 6px;
    height: 20px;
    margin-top: 8px;
  }

  .hold-btn {
    font-size: 6px;
    height: 20px;
    width: 32px;
  }

  .jack-img {
    max-height: 85px;
  }

}

@media screen and (max-width: 414px) {
  .card img {
    display: block;
    flex: 1;
    width: 16vw;
    margin: 0 auto;
  }

  .hand-container {
    display: flex;
    margin: 0 5vw 2vw 5vw;
    width: 90vw;
  }

  .money-bar {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 90vw;
  }

  .button-container {
    width: 90vw;
  }

  .jack-img {
    max-height: 70px;
  }

  .hand-name-col {
    font-size: 1.5vw;
  }

  .bet-col {
    font-size: 1.5vw;
  }
  .bet-five-col {
    font-size: 1.5vw;
  }

  .modal-text {
    margin-top: 30vw;
  }

  .hold-btn {
    font-size: 5px;
    height: 16px;
    width: 28px;
  }
}
