body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.cards {
  display: inline-block;
  width: 10vw;
  margin-left: 2vw;
}

col {
  width: 15vw;
}

.game-button {
  background-color: yellow;
  border-radius: 0.5vw;
  display: inline;
  height: 5vw;
  margin-right: 7vw;
  width: 5vw;
}

.hold-button-1 {
  background-color: yellow;
  border-radius: 0.5vw;
  display: inline;
  height: 5vw;
  margin-left: 13vw;
  margin-right: 7vw;
  margin-top: 1vw;
  width: 5vw;
}

.jack_img {
  display: inline-block;
  width: 14vw;
}

.pay-table {
  border: 1px solid black;
  display: inline-block;
  width: 66vw;
}

.pay-table-image-container {
  border: 1px solid black;
  margin: 0 auto;
  width: 90vw;
}

.table-columns {
  width: 15vw;
}
